@font-face {
  font-family: "iconfont"; /* Project id 2582781 */
  src: url('//at.alicdn.com/t/font_2582781_ikfu9rvvuim.woff2?t=1622466149488') format('woff2'),
       url('//at.alicdn.com/t/font_2582781_ikfu9rvvuim.woff?t=1622466149488') format('woff'),
       url('//at.alicdn.com/t/font_2582781_ikfu9rvvuim.ttf?t=1622466149488') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianxie:before {
  content: "\e622";
}

.icon-fix:before {
  content: "\e607";
}

.icon-huo-copy:before {
  content: "\e600";
}