@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1625148046752') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-comment:before {
  content: "\e62c";
}

.icon-time:before {
  content: "\e61f";
}

.icon-edit:before {
  content: "\e636";
}

.icon-file:before {
  content: "\e678";
}

.icon-view:before {
  content: "\e609";
}

.icon-back:before {
  content: "\e639";
}

.icon-update:before {
  content: "\e6b6";
}

