:root {
  --main-color: #333;
  --assist-color: #1fa0ae;
  --bg-color: #fff;
  --border-color: #ccc;
  --form-title-color: #555;
  --input-bg-color: #f5f5f5;
  --input-font-color: #333;
  --link-color: #0366d6;
  --title-font: Oswald, "Microsoft Yahei", Arial, Helvetica, sans-serif;
  --label-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --nav-font: Oswald, "方正姚体", Arial, Helvetica, sans-serif;
}