:root {
  --color-header-bg: #24292a;
  --color-text-white: #fff;
  --main-color: #fff;
  --assist-color: #0aa679;
  --accent-color: #e63657;
  --secondary-color: #50505c;
  --third-color: #808091;
  --border-color: #eaecef;
  --link-color: #0366d6;
  --text-font: Optima-Regular,Optima,-apple-system,system-ui,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial;
}